<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="buscador" style="margin-bottom: 20px;">
            <div class="row justify-content-center">
                
                <div class="col-sm-0">
                    <a style="color: white; text-decoration: none; margin-bottom: 1.1rem;" class="logo" routerLink=".."> 
                        <i class="fa fa-arrow-left"></i> 
                    </a>
                </div>
                <div class="col-md-10 mb-3 mb-md-0 ">
                        <input type="text " id="form1 " class="form-control form-control-lg" placeholder="Buscar por título" name="filterPost" [(ngModel)]="filterPost">
                </div>

            </div>
            <div class="row justify-content-left">
                <!-- 
                <div class="col-md-1 mb-3 mb-md-0 ">

                </div>
                -->
                <div class="col col-lg-4">
                    <select class="form-select form-control form-control-lg categoryfilter" [(ngModel)] = "filterCategory" id="filterCategory">
                        <option disabled selected value="" style="color: grey;">Buscar por categoría</option>
                        <option value=""> Mostrar todo </option>
                        <option value="Trabajo Práctico">Trabajo Práctico</option>
                        <option value="Laboratorio">Laboratorio</option>
                        <option value="Resumen">Resumen</option>
                        <option value="Ejercicio">Ejercicio</option>
                        <option value="Informe">Informe</option>
                        <option value="Parcial">Parcial</option>
                        <option value="Tarea">Tarea</option>
                        <option value="Final">Final</option>
                        <option value="Otros"> Otros</option>
                    </select>
                </div>
                <div class="col col-lg-4">
                    <select class="form-select form-control form-control-lg categoryfilter" [(ngModel)] = "filterSubject">
                        <option disabled selected value="" style="color: grey;">Buscar por Materia</option>
                        <option value=""> Mostrar todo </option>
                        <!-- PRIMERO -->
                        <option disabled class="year estiloYear">Primero</option>
                        <option value="Álgebra y Geometría Analítica">Álgebra y Geometría Analítica</option>
                        <option value="Matemática Discreta">Matemática Discreta</option>
                        <option value="Ingeniería y Sociedad">Ingeniería y Sociedad</option>
                        <option value="Sistemas y Organizaciones">Sistemas y Organizaciones</option>
                        <option value="Algoritmos y Estructuras de Datos">Algoritmos y Estructuras de Datos</option>
                        <option value="Inglés I">Inglés I</option>
                        <option value="Química">Química</option>
                        <option value="Física I">Física I</option>
                        <option value="Análisis Matemático I">Análisis Matemático I</option>
                        <option disabled></option>
                        
                        <!-- SEGUNDO -->
                        <option disabled class="year estiloYear">Segundo</option>
                        <option value="60c80ade70df0f346472ad38">Analisis Matematico II</option>
                        <option value="Sintaxis y Semántica de los Lenguajes">Sintaxis y Semántica de los Lenguajes</option>
                        <option value="Análisis de Sistemas">Análisis de Sistemas</option>
                        <option value="Inglés II">Inglés II</option>
                        <option value="Física II">Física II</option>
                        <option value="Arquitectura de Computadoras">Arquitectura de Computadoras</option>
                        <option value="Paradigmas de la Programación">Paradigmas de la Programación</option>
                        <option value="Probabilidades y Estadística">Probabilidades y Estadística</option>
                
                        <option disabled></option>
                        <!-- TERCERO -->
                        <option disabled class="year estiloYear">Tercero</option>
                        <option value="Matemática Superior">Matemática Superior</option>
                        <option value="Sistemas Operativos">Sistemas Operativos</option>
                        <option value="Gestión de Datos">Gestión de Datos</option>
                        <option value="Comunicaciones">Comunicaciones</option>
                        <option value="Métodos Numéricos">Métodos Numéricos</option>
                        <option value="Estadística Aplicada">Estadística Aplicada</option>
                        <option value="Diseño de Sistemas">Diseño de Sistemas</option>
                        <option value="Física Acústica">Física Acústica</option>
                        <option value="Seguridad Informática">Seguridad Informática</option>
                        <option value="Economía">Economía</option>
                
                        <option disabled></option>
                        <!-- CUARTO -->
                        <option disabled class="year estiloYear">Cuarto</option>
                        <option value="Ingeniería de Software">Ingeniería de Software</option>
                        <option value="Electrónica General y Aplicada">Electrónica General y Aplicada</option>
                        <option value="Legislación">Legislación</option>
                        <option value="Investigación Operativa">Investigación Operativa</option>
                        <option value="Simulación">Simulación</option>
                        <option value="Teoría de Control">Teoría de Control</option>
                        <option value="Redes de Información">Redes de Información</option>
                        <option value="Administración de Recursos">Administración de Recursos</option>
                        <option disabled></option>
                        <!-- QUINTO -->
                        <option disabled class="year estiloYear">Quinto</option>
                        <option value="Sistemas de Gestión">Sistemas de Gestión</option>
                        <option value="Procesamiento Digital de Imágenes">Procesamiento Digital de Imágenes</option>
                        <option value="Sisteamas Informáticos Industriales">Sistemas Informáticos Industriales</option>
                        <option value="Inteligencia Artificial">Inteligencia Artificial</option>
                        <option value="Redes Neuronales">Redes Neuronales</option>
                        <option value="Administración Gerencial">Administración Gerencial</option>
                        <option value="Control Estadístico de Procesos">Control Estadístico de Procesos</option>
                        <option value="Laboratorio de Microcontroladores y DSP">Laboratorio de Microcontroladores</option>
                        <option value="Proyecto">Proyecto</option>
                    </select>
                </div>
                <div class="col col-lg-4">
                    <select class="form-select form-control form-control-lg categoryfilter" [(ngModel)] = "filterCareer">
                        <option disabled selected value="" style="color: grey;">Buscar por carrera</option>
                        <option value=""> Mostrar todo </option>
                        <option value="Ing. en Sistemas de información">Ing. en Sistemas de Información</option>
                        <option value="Ing. Química">Ing. Química</option>
                        <option value="Ing. Eléctrica">Ing. Eléctrica</option>
                        <option value="Ing. Mecánica">Ing. Mecánica</option>
                        <option value="Básicas">Básicas </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="height: 70vh">
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box clearfix">
                <div class="table-responsive">
                    <table class="table user-list titulos">
                        <thead class="titulo">
                            <tr>
                                <th class="text-center"><span>Tipo de apunte</span></th>
                                <th class="text-center"><span>Título</span></th>
                                <th class="text-center"><span>Compartido por</span></th>
                                <th class="text-center"><span>Fecha</span></th>
                                <th class="text-center"><span>Materia</span></th>
                                <th class="text-center"><span>Carrera</span></th>
                                <!-- 
                                <th class="text-center"><span> </span></th>
                                <th class="text-center"><span> &nbsp;</span></th>
                                <th class="text-center">&nbsp;</th>
                                -->
                                <th class="text-center">&nbsp;<button type="button" class="btn btn-primary" style="padding: 0.2rem; margin-bottom: 0.5rem;" (click)="sortByCalification()"><i class="fas fa-sort"></i></button></th>
                                <th class="text-center">&nbsp;<button type="button" class="btn btn-primary" style="padding: 0.2rem; margin-bottom: 0.5rem;" (click)="sortByComments()"><i class="fas fa-sort"></i></button></th>
                            </tr>
                        </thead>
                        <tbody>

                        <tr *ngFor="let note of noteService.notes.reverse() | filter:filterPost | categoryFilter:filterCategory | subjectFilter:filterSubject | careerFilter:filterCareer | paginate: { itemsPerPage: 6, currentPage: p }">

                            <td class="text-center">
                                <a class="" > {{ note.category }}</a>
                            </td>
                            <td class="text">
                                <a [routerLink]="['/apunte', note._id]"  >{{ note.name }}</a>
                            </td>
                            <td class="text-center">    
                                <a class="" > {{ note.creator.name}} </a>
                            </td>
                            <td class="text-center">
                                <span class="label label-default"> {{note.createdAt.slice(8,10) + "/" + note.createdAt.slice(5,7) + "/" + note.createdAt.slice(0,4)}} </span>
                            </td>
                            <td class = "text-center">
                                <span class="label label-default">{{ note.subject }}</span>
                            </td>
                            <td class = "text-center">
                                <span class="label label-default">{{ note.career }}</span>
                            </td>
                            <td class = "text-center" >
                                <i class="fas fa-heart"></i>
                                <span class="nroLikes"> {{ note.calification.length}} </span>


                            </td>
                            <td class = "text-center" >
                                <i class="fas fa-comments"></i>
                                <span class="nroLikes"> {{ note.comments.length}} </span>
                            </td>
                            
                            <td style="text-align: end;">
                                <!-- <a href="/apuntes" (click)=deleteNote(note._id) class="table-link danger">
                                    <span class="fa-stack">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                </span>
                                </a> -->
                            </td>
                        </tr>
                        
                            
                        
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente" class="paginatorCSS buscador"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>