<link rel="stylesheet" href="/styles.css"> 

<section class="intro">

    <div class="mask d-flex align-items-center h-100">
        <div class="container ">
            <div class="card mask-custom p-4 ">
                <div class="card-body ">
                    <p class="h1 font-weight-bold mb-4 text-white titulo ">Yummi</p>
  

                </div>
            
                <div class="row" style="margin:20px;">
                    <div class="col">
                        <button class="btn btn-info btn-block btn-lg w-100" type="submit " value="Search" routerLink="/apuntes">Ver apuntes</button>
                    </div>
                    
                    <div class="col">
                        <button class="btn btn-light btn-block btn-lg w-100"  type="submit " value="Search" routerLink="/crear" (click)="checkUser()">Subir apunte</button>
                    </div>
                        
                    </div>
            </div>
        </div>
    </div>
</section>