<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="titulo"> {{ note.name }}</div>

    <div class="contenido">
        <iframe
        src="https://stackoverflow.com/questions/29859490/how-to-store-a-file-with-mongoose-crate-via-an-express-route"
        frameBorder="0"
        scrolling="auto"
        height="100%"
        width="100%"
        ></iframe>
    </div>

    <div class="clasificacion">
        <div class="boton">
            <a class="btn btn-info btn-block" (click)="likear()" [ngClass]="{'white' : !liked, '': liked}" type="submit " value="Search">
                <i class="fas fa-heart"></i>
                <!-- <i class="fas fa-book-open custom"></i> -->
                {{status}}
            </a>
        </div>
    </div>
</div>

<!-- MI COMENTARIO!  -->
<div class="container">
    <div class="miComentario">
        
        <div class="form-floating">
            <form #commentForm="ngForm" (ngSubmit)="addComment(commentForm)">
                <textarea class="form-control" name="content" [(ngModel)]="commentService.selectedComment.content" placeholder="Dejá tu comentario! (Máximo 150 caracteres)" maxlength="150" id="floatingTextarea2"
                style="height: 100px"></textarea>
                <div class="boton">
                    <button class="boton btn btn-info btn-block " type="submit ">Comentar</button>
                </div>
            </form>
            
        </div>
        
    </div>
</div>

<div class="container">
            <div *ngIf = "commentService.comments.length === 0" >
                No hay comentarios para este apunte.
            </div>
            <div *ngFor ="let comment of commentService.comments.reverse()" class="comentario">
                <hr>
                <div class="nombre">
                    {{ comment.creator}}
                </div>
                <div class="contenidoComentario">
                    {{comment.content}}
                </div>
                <div class="fechaComentario">
                    {{comment.createdAt.split("T").join(" ").split("Z").join("").slice(0,16)}}
                </div>
                <hr>
            </div>
</div>

