
<!-- Header -->

<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

      <a class="navbar-brand logo h1 font-weight-bold mb-4 text-white" routerLink = "/" href="#">Yummi</a>

      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
          
          <ng-container *ngIf="!authService.loggedIn(); else loggedIn">
            <form class="d-flex">
              <button class="btn btn-outline-light buscar" type="button" id="openModal" data-bs-toggle="modal" data-bs-target="#sesionModal">Iniciar sesión</button>
              <button class="btn btn-outline-light buscar" type="button" style="margin-left: 1rem;"><a routerLink = "/signup" style="color: inherit; text-decoration: none;">Registrarse</a></button>
            </form>


         
          </ng-container>
          <ng-template #loggedIn>
            <form class="d-flex">
              <i class="fas fa-user-circle icono" type="button" routerLink="/perfil"></i>
            </form>
            <form class="d-flex">
              <button class="btn btn-dark m-2" type="submit" (click)="authService.logOut()">Salir</button>
            </form>
          </ng-template>
        </div>
      </div>
    </nav>
  
    
  <!-- Modal -->
  <div class="modal fade" id="sesionModal" tabindex="-1" aria-labelledby="modalSesion" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalSesion">¡Inicia sesión en Yummi!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
              <div class="col-md-8 center">
                  <div class="card">
                      <div class="card-body">
                          <form (submit)="signIn()">
                              <div class="form-group">
                                  <input id="mailInput" type="text" [(ngModel)]="user.mail" name="mail" class="form-control" placeholder="Email" required autofocus>
                              </div>
                              <div class="form-group" style="margin-top:1rem;">
                                  <input id="pwInput" type="password" [(ngModel)]="user.password" name="password" class="form-control" placeholder="Contraseña" required>
                              </div>
                              <div class="btn" style="margin-top: 1rem; margin-left: 25px;">
                              <button type="submit" class="btn btn-info btn-block"> 
                                  Iniciar sesión
                              </button>
                            </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row" style="margin-top:1rem;">
            <label class="center"> ¿No tienes una cuenta? <a routerLink = "/signup" (click)="closeModal('#sesionModal')">¡Registrate!</a></label>
          </div>
        </div>
      </div>
    </div>
  </div>
  </header>
  
  