.header .navbar {
    background-color: transparent !important;
}

.icono{
    font-size: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.logo{
    font-family: 'Urbanist', sans-serif;
    font-size: 40px;
    margin-top: 20px;
}