<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <div class="main-box clearfix">
                <div class="table-responsive">
                    <table class="table user-list titulos">
                        <thead class="titulo">
                            <tr>
                                <th class="text-center"><span>Tipo de apunte</span></th>
                                <th class="text-center"><span>Título</span></th>
                                <th class="text-center"><span>Fecha</span></th>
                                <th class="text-center"><span>Materia</span></th>
                                <th class="text-center"><span>Carrera</span></th>
                                <th class="text-center"><span>Calificación</span></th>
                                <th class="text-center">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>


                        <tr *ngFor="let note of noteService.notes.reverse()" >
                            <!-- TODO: QUE TOKEN ID VAYA A LA CONDICION!!! -->
                                                                                        <!-- TODO: Sacar hardcodeo. -->
                            <td class="text-center" *ngIf="note.creator._id === getToken() ">
                                <a class="" > {{ note.category }}</a>
                            </td>
                            <td class="text" *ngIf="note.creator._id === getToken() ">
                                <a [routerLink]="['/apunte', note._id]"  >{{ note.name }}</a>
                            </td>
                        
                            <td class="text-center" *ngIf="note.creator._id === getToken() ">
                                <span class="label label-default"> {{note.createdAt.split("T").join(" ").split("Z").join("").slice(0,10)}}</span> 
                            </td>
                            <td class = "text-center" *ngIf="note.creator._id === getToken() ">
                                <span class="label label-default">{{ note.subject }}</span>
                            </td>
                            <td class = "text-center" *ngIf="note.creator._id === getToken() ">
                                <span class="label label-default">{{ note.career }}</span>
                            </td>
                            <td class = "text-center" *ngIf="note.creator._id === getToken() ">
                                <i class="fas fa-heart"></i>
                                <span class="nroLikes"> {{ note.calification.length }} </span>
                            </td>
                            <td class = "text-center" *ngIf="note.creator._id === getToken() ">
                                <a href="/apuntes" class="table-link danger">
                                    <span class="fa-stack">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fa fa-file-text fa-stack-1x fa-inverse" aria-hidden="true"></i>
                                </span>
                                </a>
                                
                            </td>

                            <td style="text-align: end;" *ngIf="note.creator._id === getToken() ">
                                <a href="/apuntes" (click)=deleteNote(note._id) class="table-link danger">
                                    <span class="fa-stack">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                </span>
                                </a>
                            </td>
                            
                

                        </tr>
                        
                            
                        
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                            </a>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                            </a>
                          </li>
                        </ul>
                      </nav>
                </div>
            </div>
        </div>
    </div>
</div>