<div class="container crear">

  <form [formGroup]="noteForm">
    <!-- TEST: Creator
    <div class="form-group">
      <label class="form-label"> TEST Creator</label>
      <input type="text" class="form-control" name="creator" placeholder="Ingrese el tema de su apunte...">
    </div>
    -->
    <!-- TEST: calification
      <div class="form-group">
        <label class="form-label"> calification </label>
        <input type="number" class="form-control" name="calification" placeholder="Ingrese el tema de su apunte..." [(ngModel)]="noteService.selectedNote.calification">
      </div>
    -->
    <!-- Tema/Name -->
    <div class="form-group">
      <label for="exampleFormControlInput1" class="form-label titulo">Tema (*)</label>
      <input type="text" class="form-control" name="name" placeholder="Ingrese el tema de su apunte..." formControlName="name">
    </div>
    <!-- Carrera/Career  -->
    <div class="form-group">
      <label for="exampleFormControlInput1" class="form-label titulo">Carrera (*)</label>
      <select class="form-select" name="career" placeholder="Selecciona tu carrera..." formControlName="career">
        <option selected disabled>Selecciona tu Carrera</option>
        <option >Ing. en Sistemas de Información</option>
        <option >Ing. Química</option>
        <option >Ing. Eléctrica</option>
        <option >Ing. Mecánica</option>
      </select>
    </div>
    
    <!-- Materia/Subject -->
    <div class="form-group">
      <label class="form-label titulo">Materia (*)</label>
      <select class="form-select">
        <option selected disabled>Selecciona tu materia</option>
        <option *ngFor="let subject of subjectsService.subjects" value="{{subject._id}}" (click)="typeSubject()" id="subjectId"> {{ subject.name }} ({{subject.professor}}) </option>
      </select>
    </div>

    <!-- Category/Categoría --> 
    <!-- <div class="form-group" [(ngModel)]="noteService.selectedNote.category">
      <a style="font-weight: bold;">Seleccione Categorías:   </a>
      <div class="categorias" style="margin-top:10px; margin-bottom: 10px;">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Parcial">
          <label class="form-check-label" for="inlineCheckbox1">Parcial</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="Resumen">
          <label class="form-check-label" for="inlineCheckbox2">Resumen</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="Tarea">
          <label class="form-check-label" for="inlineCheckbox3">Tarea</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="Final" >
          <label class="form-check-label" for="inlineCheckbox4">Final</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="Trabajo Práctico">
          <label class="form-check-label" for="inlineCheckbox5">Trabajo Práctico</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="Otros">
          <label class="form-check-label" for="inlineCheckbox6">Otros</label>
        </div>
      </div>
      </div> -->
    
    
    
    
    <div class="form-group">
      <label class="form-label titulo">Seleccione una categoría</label>
      <select class="form-select" name="category" formControlName="category">
        <option value="" selected disabled hidden>Selecciona una categoría</option>
        <option value="Parcial">Parcial</option>
        <option value="Resumen">Resumen</option>
        <option value="Tarea">Tarea</option>
        <option value="Final">Final</option>
        <option value="Trabajo Practico">Trabajo Practico</option>
      </select>
    </div>
    
    <!-- Contenido/Content-->
    <div class="form-group">
        <div class="row">
          <label class="form-label titulo" >Contenido(*) | Ingrese un link o un adjunto:</label>
          <div class="col">
            <textarea class="form-control" name="content" rows="3" placeholder="Ingrese link..." formControlName="content"></textarea>
          </div>
          <div class="col">
            <label for="formFileLg" class="form-label"></label>
            <input class="form-control" name="attached" type="file" formControlName="attached">
            <a>* Tamaño máximo del archivo 50MB.</a>
          </div>
        </div>
    </div>

    <!-- Acciones/Actions -->
    <button type="cancel" class="btn btn-danger boton" style="width: 100px;">Cancelar</button>
    <!-- <button type="submit" class="btn btn-success">Subir</button> -->
    <a type="submit" (click)="addNote()" class="btn btn-info btn-block" style="width: 100px;" >Subir</a>
    
  </form>
  
  <!-- 
	<form (ngSubmit)="onSubmit()" #formName="ngForm">
		<h2>Add a new player</h2>
		<div class="form-group">

		</div>
		<button type="submit" class="btn btn-success" [disabled]="!formName.form.valid">Add Player</button>
	</form>
  -->
  <span class="texto">(*) Campos obligatorios</span>

</div>