<div class="container crear">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Tema</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese tema de su apunte...">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Materia</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Materia">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Tags</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Tags">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label" >Contenido</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Ingrese link..."></textarea>
        <label for="formFileLg" class="form-label"></label>
      <input class="form-control form-control-lg" id="formFileLg" type="file">
      </div>
      <div class="d-flex flex-row-reverse bd-highlight">
        <button type="button" class="btn btn-dark boton">Subir</button>
        <button type="button" class="btn btn-danger boton">Cancelar</button>
      </div>
      
</div>

