<div class="container crear">
  <form [formGroup]="noteForm">

    <!-- Tema/Name -->
    <div class="form-group">
      <label for="exampleFormControlInput1" class="form-label titulo">Tema (*)</label>
      <input type="text" class="form-control" name="name" placeholder="Ingrese el tema de su apunte..." formControlName="name">
    </div>
    <!-- Carrera/Career  -->
    <div class="form-group">
      <label for="exampleFormControlInput1" class="form-label titulo">Carrera (*)</label>
      <select class="form-select" name="career" placeholder="Selecciona tu carrera..." formControlName="career">
        <option selected disabled>Selecciona tu Carrera</option>
        <option >Ing. en Sistemas de Información</option>
        <option >Ing. Química</option>
        <option >Ing. Eléctrica</option>
        <option >Ing. Mecánica</option>
      </select>
    </div>
    
    <!-- Materia/Subject -->
    <div class="form-group">
      <label class="form-label titulo">Materia (*)</label>
      <select class="form-select">
        <option selected disabled>Selecciona tu materia</option>
        <option *ngFor="let subject of subjectsService.subjects" value="{{subject._id}}" (click)="typeSubject()" id="subjectId"> {{ subject.name }} - {{ subject.professor }}</option>
      </select>
    </div>


    <!-- Categoria/ Category 
    <label class="form-label titulo">Categorías</label>
    <div class="form-group">
      <div id="checkboxes">
        <ul>
                  
          <li><input type="checkbox" value="Trabajo Practico" (change)="arraypepe($event)"> Trabajo Practico</li>
          <li><input type="checkbox" value="Laboratorio" (change)="arraypepe($event)"> Laboratorio </li>
          <li><input type="checkbox" value="Resumen" (change)="arraypepe($event)"> Resumen </li>
          <li><input type="checkbox" value="Ejercicio" (change)="arraypepe($event)"> Ejercicio </li>
          <li><input type="checkbox" value="Informe" (change)="arraypepe($event)"> Informe </li>
          <li><input type="checkbox" value="Parcial" (change)="arraypepe($event)"> Parcial </li>
          <li><input type="checkbox" value="Tarea" (change)="arraypepe($event)"> Tarea </li>
          <li><input type="checkbox" value="Final" (change)="arraypepe($event)"> Final </li>
  
        </ul>
      </div>
    </div>
  -->
    
    <!-- Contenido/Content 
    <div class="form-group">
        <div class="row" >

          <label class="form-label titulo" >Contenido(*) | Ingrese un link o un adjunto:</label>
          <div class="col">
            <textarea class="form-control" name="content" rows="3" placeholder="Ingrese link..." formControlName="content"></textarea>
          </div>
          <div class="col">
            <label for="formFileLg" class="form-label"></label>
            <input type='file' (change)="fileChanged($event)" style="margin-bottom: 5%;" id = "file">

            <div class="spinner-border text-success" style="display:none;" role="status" id="fileLoading">
              <span class="sr-only">Cargando...</span>
            </div>
            <a style="color: green; display:none;" id="succesLabel">&nbsp; Archivo cargado con exito.</a>
            <br>
            <button (click)="uploadFile()" class="btn btn-secondary" style="width:40%; height:40%;" id="uploadButton"> Adjuntar archivo</button>
            <a style="color: grey;">&nbsp; * Tamaño máximo del archivo 50MB.</a>
          </div>
        </div>
    </div>
  -->
  <div class="row">
    <div class="col-md-2">
      <label class="form-label titulo" style="margin-top:0.5rem;">Categorías</label>
      <div id="checkboxes">
        <ul>
                  
          <li><input type="checkbox" value="Trabajo Practico" (change)="arraypepe($event)"> Trabajo Practico</li>
          <li><input type="checkbox" value="Laboratorio" (change)="arraypepe($event)"> Laboratorio </li>
          <li><input type="checkbox" value="Resumen" (change)="arraypepe($event)"> Resumen </li>
          <li><input type="checkbox" value="Ejercicio" (change)="arraypepe($event)"> Ejercicio </li>
          <li><input type="checkbox" value="Informe" (change)="arraypepe($event)"> Informe </li>
          <li><input type="checkbox" value="Parcial" (change)="arraypepe($event)"> Parcial </li>
          <li><input type="checkbox" value="Tarea" (change)="arraypepe($event)"> Tarea </li>
          <li><input type="checkbox" value="Final" (change)="arraypepe($event)"> Final </li>
  
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <label class="form-label titulo" style="margin-top:0.5rem;">Contenido(*) | Ingrese un link o un adjunto:</label>
      <label for="formFileLg" class="form-label"></label>
      <input type='file' (change)="fileChanged($event)" style="margin-bottom: 5%;" id = "file">

      <div class="spinner-border text-success" style="display:none;" role="status" id="fileLoading">
        <span class="sr-only">Cargando...</span>
      </div>
      <a style="color: green; display:none;" id="succesLabel">&nbsp; Archivo cargado con exito.</a>
      <br>
      <button (click)="uploadFile()" class="btn btn-secondary" id="uploadButton"> Adjuntar archivo</button>
      <a style="color: grey;">&nbsp; * Tamaño máximo del archivo 50MB.</a>
    </div>
  </div>
    
  </form>
  <!-- Acciones/Actions -->
  <button type="cancel" class="btn btn-danger boton" style="width: 100px;">Cancelar</button>
  <a type="submit" (click)="addNote()" class="btn btn-info btn-block" style="width: 100px;" >Subir</a>
  <span class="texto">(*) Campos obligatorios</span>

</div>