<!-- <div class="perfil">
    <div class="row">
        
        <div class="col">
            <div class="row">FOTO</div>
            <div class="row">
                <div class="d-grid gap-2 mx-auto">
                    <button class="btn btn-primary" type="button">Button</button>
                    <button class="btn btn-primary" type="button">Button</button>
                  </div>
            </div>
        </div>
        <div class="col">
            INFORMACION / APUNTES
        </div>
    </div>
</div> -->

<div class="perfil">
    <div class='row'>
        <div class='column'>
          <div class='blue-column'>

              <div>
                  <img class="imagenUsuario" src="../../../../assets/img/user.png" alt="">
              </div>

            <div class="d-grid gap-2 mx-auto">
                <button class="btn btn-primary" type="button">Información</button>
                <button class="btn btn-primary" type="button">Mis Apuntes</button>
              </div>
          </div>


        </div>
        <div class='double-column'>
          <div class='green-column '>
            INFORMACION / MIS APUNTES
          </div>
        </div>
      </div>
</div>