.container-perfil{
    padding: 40px;
    border-radius: 15px;
    position:center;
    background-color: white;
}

.imagenUsuario{
    height: 50px;
}

.image-container{
  display:flex;
  justify-content: center;
  padding: 40px;
}
