.logo{
    font-family: 'Urbanist', sans-serif;
    font-size: 40px;
    position: absolute;
}

.title{
    font-size: 50px;
    text-align: center;
    font-family: 'Urbanist', sans-serif;
    padding-bottom: 20px;
}

.subtitle{
    font-size: 20px;
    text-align: left;
    font-family: 'Urbanist', sans-serif;
    padding: 20px

}